@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: theme(colors.blue.800);
    --color-on-primary: theme(colors.white);

    --color-body: theme(colors.gray.100);
    --color-on-body: theme(colors.gray.500);

    --color-disabled: theme(colors.gray.400);
    --color-on-disabled: theme(colors.white);

    --color-danger: theme(colors.red.500);
    --color-link: var(--color-primary);

    --max-width-card: 480px;
    --max-width-large-card: 680px;
}

body {
    color: var(--color-background);
}

/** Border **/

.border-primary {
    border-color: var(--color-primary);
}

.border-dander {
    border-color: var(--color-danger);
}

/** Button **/

.btn {
    @apply border rounded p-2;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}

.btn-disabled {
    background-color: var(--color-disabled);
    color: var(--color-on-disabled);
    @apply pointer-events-none;
}

/** Text **/

.text-primary {
    color: var(--color-primary);
}

.text-danger {
    color: var(--color-danger);
}
